body{
    margin: 0;
}
/*-----------   Header  ------------------ */
header{
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 60%;
    background-attachment:scroll;
    background-position-x: 5%;
    background-position-y: 10%;
    height: 100px;
    position: relative;
}

header .header_title_The{
    color: white;
    font-size: 20px;
    position: absolute;
    left: 41px;
    bottom: 42px;
}

header .header_title_Booleaner{
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 4px black;
    position: absolute;
    left: 13px;
    bottom: 12px;
}

/*-----------   /Header  ------------------ */

/*-----------   Main  ------------------ */
 main{
    margin: 10px 13px;  
 }

 main .main_title{
    display: block;
    color: black;
    font-size: 35px;
    font-weight: 900;

 }

 main .main_subtitle{
    display: block;
    color: #808080;
    
}

main .writer_name{
    color: #2DAEE6;
}

main .writed_date{
    font-size: small;
}


main .photo_container{
    height: 300px;
}

main .photo_container img{
    height: 100%;
}

main .photo_description{
    font-size: small;
}

.evidenced_text{
    background-color: yellow;
}

      /* --------Tabella--------- */
      .white_text{
        color: white;
    }

    .blue_background_color{
        background-color: #20A9E5;
    }

    .azzurro_background_color{
        background-color: #B1E5F2;
    }

    /* --------/Tabella--------- */

/*-----------   /Main  ------------------ */



